@import "tailwindcss";
@import "@heroui/styles"; 
@plugin "daisyui" {
   themes: light;
}


 .text {
    color: #2f2ebe;
 }
 .bg-color {
    background-color: #6161c9;
 }

 .navAnimat {
    transition: all 0.1s ease;
 }